.page {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;
}
.button {
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    
    border: none;
    border-radius: 50px;
    color: #fff;

    /* &:not(:last-child) {
        margin-right: 30px;
    } */
}

.color-blue {
    background-color: rgb(89, 0, 255);
}

.color-red {
    background-color: red;
}

.button:disabled {
    cursor: not-allowed;
}

.button:hover {
    font-weight: 900;
    box-shadow: 0 4px 15px 0 rgba(70, 73, 77, 0.75);
}
